form.form-subject {
  width: 50%;
  margin: auto;
  padding: 40px;
}

button.btn.btn-primary {
  margin-top: 30px;
}

button.btn.btn-secondary {
  margin: 10px 0;
  padding: 25px;
  display: inline-block;
}

form.form-subject option {
  margin: 10px;
  text-align: left;
  padding: 20px;
}

form.date-time {
  /* border: 1px solid red; */
  width: 50%;
  margin: auto;
  padding: 80px;
}

form.form-information {
  /* border: 1px solid red; */
  width: 50%;
  margin: auto;
  text-align: center;
  padding: 80px;
}

form.form-confirm {
  /* border: 1px solid red; */
  width: 50%;
  margin: auto;
  text-align: center;
  padding: 60px;
}
